.Header {
  display: flex;
  height: 50px;
  border-bottom: 1px solid #ccc;
  padding: 0 25px;
  align-items: center; }
  @media (max-width: 768px) {
    .Header {
      justify-content: center; } }
  .Header-link {
    color: #222;
    text-decoration: none; }
  .Header-icon {
    margin-right: 10px; }
  .Header-text {
    font-size: 1.5em;
    font-weight: 700;
    margin: 0; }
