@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css");
body {
  font-family: 'Nunito', sans-serif; }

.strong {
  font-weight: 600; }

.SameMovie-content {
  display: grid;
  grid-template-columns: 320px auto; }
  @media (max-width: 768px) {
    .SameMovie-content {
      grid-template-columns: 100%; } }
